 <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">シフトの編集</h5>
        <button type="button"  id="close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group field">
          <%= form_with(model: @event, local: false) do |f| %>
            <div class="form-inputs">
              <div class="form-group">
                <%= f.label :title, "予定", class: "form-control-label"%>
                <div class="input-group" data-target-input="nearest">
                  <%= f.text_field :title, class: "form-control", placeholder: "(任意)"%>
                </div>
              </div>
 
              <div class="form-group">
                <%= f.label :start_date, "開始時間", class: "form-control-label"%>
                <div class="input-group" data-target-input="nearest">
                  <%= f.date_select :start_date, {}, {class: "form-control"}%>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :start_time, "開始時間", class: "form-control-label"%>
                <div class="input-group" data-target-input="nearest">
                  <%= f.time_select :start_time, {minute_step: 15}, {class: "form-control"}%>
                </div>
              </div>
 
              <div class="form-group">
                <%= f.label :end_date, "終了時間", class: "form-control-label"%>
                <div class="input-group" data-target-input="nearest">
                  <%= f.date_select :end_date, {minute_step: 15}, {class: "form-control"}%>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :end_time, "終了時間", class: "form-control-label"%>
                <div class="input-group" data-target-input="nearest">
                  <%= f.time_select :end_time, {minute_step: 15}, {class: "form-control"}%>
                </div>
              </div>
            </div>
 
            <div class="modal-footer actions">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
              <%= f.submit "入力完了", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>