<%= render 'shared/header' %>


<%= month_calendar(attribute: :start_time, end_attribute: :end_time, events: @events) do |date, events| %>
<%= date.day %>

<div class='d-flex pl-1'>
  <% events.each do |event| %>
  <div class="dropdown">
    <button class="btn btn-warning rounded-circle p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" style="width:0.7rem;height:0.7rem;">
      　　　
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">


      <div>
        <%if event.title.blank? %>
        <%=link_to("予定", edit_event_path(event), class: "dropdown-item", remote: true)%>
        <% else %>
        <%=link_to(event.title, edit_event_path(event), class: "dropdown-item", remote: true)%>
        <% end %>
        <%=link_to event_path(event), method: :delete,
      data:
     { confirm: '削除しますか？',
      local: true,
      }, title: '削除の確認',
        class: "btn btn-danger dropdown-item" do%>
        削除

        <% end %>
        <div class="dropdown-item">
          <%= event.start_time.strftime('%H:%M')%>~<%= event.end_time.strftime('%H:%M')%>
        </div>

        <div class="dropdown-item">
          給料
          <%= (((event.end_time.strftime('%H').to_i - event.start_time.strftime('%H').to_i) +((event.end_time.strftime('%M').to_i - event.start_time.strftime('%M').to_i) / 60.to_f)) * current_user.hourly_wage.to_i).floor %>円
        </div>


      </div>
    </div>
  </div>
  <% end %>
</div>


<% end %>
<div class="border-top" style="padding-top:10px;"></div>
<button type="button" class="btn btn-primary rounded-pill ml-4" data-toggle="modal" data-target="#new_event">
  ＋追加する
</button>



<div class="panel-group text-center">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2" class="text-dark">今後のシフト⬇️</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <ul class="list-group">
        <% @events.each do |event| %>
        <%if event.start_time > Time.current %>
        <li class="list-group-item">
          <%= event.start_time.strftime('%m月%d日 %a %H:%M')%>~<%= event.end_time.strftime('%H:%M')%>
        </li>
        <%end%>
        <%end%>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="new_event" tabindex="-1" role="dialog" aria-hidden="true">
  <%= render partial: "form", locals: {events: @events} %>
</div>



<%= render 'shared/footer' %>