<!DOCTYPE html>
<html>

<head>
  <title>シフト管理</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  <%= stylesheet_pack_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application'%>
</head>

<body>
  <%= yield %>
</body>

</html>